body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 2.5% ;
}

.column1{
    text-align: center;
    margin-bottom: 2.5%;
    max-width: 85%;
    min-width: 350px;
}
.column1 .fullname{
    font-size:  3em;
    margin-bottom: 10px;
}
.column1 .github{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: blueviolet;
}
.column1 .keybase{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: red;
}
.column1 .mail{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: blue;
}
.column1 .bitcoin{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: orange;
}

.column2{
    text-align: left;
    max-width: 85%;
    min-width: 350px;
}
.column2 h2{
    margin-top: 40px;
}
.column2 .description{
    line-height: 25px;
}
.column2 a{
    text-decoration: none;
    color: blue;
}
.column2 .project{
    text-decoration: none;
    color: blue;
    font-size: large;
    margin-top: 25px;
}