<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
</body>

<link rel="stylesheet" href="{{ .Site.BaseURL }}lib/font-awesome/css/all.min.css">
<script src="{{ .Site.BaseURL }}lib/jquery/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>

</html>