{% extends "base.html" %}

{% block content %}

<body>
  <div class="grid">
    <div class="box1">
      <h1 class="fullname">{% block title %}{{ config.title }}{% endblock title %}</h1>
      <p>{% block description %}{{ config.description }}{% endblock description %}</p>
      {% for social in config.extra.about.socials %}
      <a class="{{ social.name }}" href="{{ social.link }}"><i class="{{ social.fa }}"></i></a>
      {% endfor %}
    </div>
    <div class="box2">
      <h2>About me</h2>
      {% for sentence in config.extra.about.descriptions %}
      <p class="description">{{ sentence | safe }}</p>
      {% endfor %}

      <h2>Spoken Languages</h2>
      {% for lang in config.extra.about.languages %}
      <p>{{ lang }}</p>
      {% endfor %}

      <h2>Personal projects</h2>
      {% for project in config.extra.about.projects %}
      <p class="project"><a href="{{ project.link }}">{{ project.name }}</a></p>
      <p>{{ project.description }}</p>
      {% endfor %}
      <p>...</p>

      <h2>Open-source contributions</h2>
      {% for project in config.extra.about.opensource %}
      <p class="project"><a href="{{ project.link }}">{{ project.name }}</a></p>
      <p>{{ project.description }}</p>
      {% endfor %}
      <p>...</p>

    </div>
  </div>
</body>
{% endblock content %}