$color-background: #fffbfb;
$color-footer-mobile-1: darken($color-background, 2%);
$color-footer-mobile-2: darken($color-background, 10%);
$color-background-code: darken($color-background, 2%);
$color-border: #000;
$color-meta: #000;
$color-meta-code: lighten($color-meta, 10%);
$color-link: #cc2a41;
$color-text: #22272a;
$color-accent-1: #cc2a41;
$color-accent-2: #000;
$color-accent-3: #000;
$color-quote: #cc2a41;